// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.deal_detail_name {
    font-size: 20px;
    color: #ff7a00;
    text-align: left;
    margin: 26px 0 0 0;
    ont-weight: bold;
}
h2.deal_detail_name_long {
    font-size: 14px;
    color: #414141;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 22px;
}
span.detail_price {
    font-size: 28px;
    color: #ff7a00;
    font-weight: bold;
    width: 100%;
    line-height: 30px;
}